.btncls{                    
        display: block;
        padding-left:.5rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .hd{
        width: 100vw;
        z-index: 100;
        background-color: #ffffffc0;
        backdrop-filter: blur(15px);
        padding: 0 3rem;
        h1{
            img{
                height: 2.5rem;
            }
        }
        .mobilemenu{
            display: none;
        }
        .d1{
            display: flex;
            flex-direction: row;
            .m-d-none{display: none;}
            .d1_li{
                padding:1rem 2rem;           
                .d1_a{
                    font-size: 1.2rem;
                }
                .d2{
                    top:100%;
                    transform: translateX(-50%);
                    left: 50%;
                    max-height: 0;
                    overflow: hidden;
                    transition: .5s;
                    .d2_li{
                        white-space: nowrap;
                        text-align: center;
                        margin: 0.5rem 0;
                        letter-spacing: 0.085rem;
                        a{
                            font-size: 1.05rem;
                        }
                    }
                }
            }
        }
        .lnb{
            .searchIcon{
                display: flex;
                font-size: 1.3rem;
                line-height: 1.85;
                .form-show{
                    right: 7rem;                
                    .search-pc{
                        border:0;
                        &:focus{                        
                        outline: none !important;
                        box-shadow: none !important;
                        }
                    }
                }                
            }
            .personIcon{
                font-size: 1.6rem;
            }
        }
    }
#with_place{
    background: #D3DFFF;
}
#quik{
    position: fixed;
    z-index: 100;
    bottom: 2rem;
    right: 1rem;   
    #quikBtn{
        transform: translateY(.9rem);
        z-index: 1;        
        img{
            height: 5rem;
        }
    }
    #quikMenu{
        &::before{
            content: "";
            display: block;
            background: #3D71FF;
            height: .5rem;
        }
        background: #3D71FF;
        border-radius: 0 0 3rem 3rem;
        .qIcon{
            background: #6A92FE;
            border-radius: 50%;
            box-shadow: 3px 3px 3px #00000030;
            line-height: 1;
            a{
                font-size: 1.7rem;
                color: #fff;                
            }
        }
    }
    .top_btn{
        background: #eee; 
        padding: 0.7rem; 
        border-radius: 50%; 
        margin-top: 1rem; 
        box-shadow: 3px 3px 3px #aaa;
        line-height: 1;
        a{font-size: 2rem; color: #666;}
    }

}
#ft{
    .ft_right{
        .ft_menu{
            .ft_menu_li{
                border-right: 1px solid #666;
                line-height: 1;
            }
        }
        .ft-icon{
            li{
                background: #ddd;
                font-size: 1.7rem;
                line-height: 1;
                border-radius: .5rem;
                padding: .3rem;
                a{
                    color: #999;
                }
            }
        }
    }
    .ft_left{
        h1{
            img{
                height: 4rem;
            }
        }
    }
}
@media (min-width:1221px){
    .hd{
        .d1{
            &:hover{
                &:before{
                    content: "";
                    background-color: #fffffff0;
                    border-top: 1px solid #6A92FE;
                    position: absolute;
                    top: 100%;
                    left: 0; right: 0;
                    height: 205px;
                }
                .d1_li{ 
                    &:hover{
                        .d1_a{color: #6A92FE;}
                    }
                    .d2{
                        .d2_li{
                            &:hover{
                                a{
                                    color:#6A92FE;
                                }
                            }                        
                        }                    
                        padding: 1rem 0; 
                        max-height: 230px;                                       
                    }
                }
            }   
            &:before{
                content: "";
                position: absolute;
                top: 100%;
                left: 0; right: 0;
                height: 0px;
                overflow: hidden;
                transition: .5s;
                border-top: 1px solid transparent;
            }
        }
    }
}
@media (max-width: 1220px) {
    .hd{
        h1{
            padding-top: 1rem;
            img{
                height: 2.1rem;
            }
        }
        
        .d1{
            background: #77f;
            width: 100vw;
            height: 100vh;
            position: fixed;
            right: 0;
            top: 0;
            flex-direction: column;
            z-index: 10000;
            display: none;
            &:before{
                content: none;
            }
            .m-d-none{display: block;}
            .d1_li{
                padding:1rem 2rem;           
                .d1_a{
                    font-size: 1.2rem;
                }
                .d2{
                    top:100%;
                    transform: translateX(-50%);
                    left: 50%;
                    max-height: 0;
                    overflow: hidden;
                    transition: .5s;
                    .d2_li{
                        white-space: nowrap;
                        text-align: center;
                        margin: 0.5rem 0;
                        letter-spacing: 0.085rem;
                        a{
                            font-size: 1.05rem;
                        }
                    }
                }
            }
        }
        .lnb{
            .searchIcon{
                display: none;
            }
            .personIcon{
                font-size: 1.6rem;
            }
        }
        .mobilemenu{
            font-size: 2rem;
            line-height: 1.1;
            display: block;
        }
    }
}
@media (max-width: 768px) {
    .hd{
        padding: 0 0.5rem;
    }
}

