.btncls{                    
        display: block;
        padding-left:.5rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
.fs-1rem6{
    font-size: 1.6rem;
}
.hd{
    width: 100vw;
    z-index: 100;
    background-color: #ffffffc0;
    backdrop-filter: blur(15px);
    padding: 0 3rem;
    h1{
        img{
            height: 2.5rem;
            transition: .5s;
        }
    }
    .mobilemenu{
        display: none;
    }
    .d1{
        display: flex;
        flex-direction: row;
        transition: .5s;
        .m-d-none{display: none;}
        .d1_li{
            padding:1rem 2rem;    
            letter-spacing: 0.085rem;       
            .d1_a{
                font-size: 1.05rem;
                font-weight: 500;
            }
            .d2{
                transition: .5s;
                .d2_li{
                    white-space: nowrap;
                    text-align: center;
                    margin: 0.5rem 0;
                    letter-spacing: normal;
                    a{
                        font-size: 0.95rem;
                        
                    }
                }
            }
        }
    }
    .lnb{
        .searchIcon{
            display: flex;
            font-size: 1.3rem;
            line-height: 1.88;
            .form-show{      
                right: 100%;   
                width: auto;   
                transition: .5s;   
                .search-pc{
                    width: auto;
                    border:0;
                    &:focus{                        
                    outline: none !important;
                    box-shadow: none !important;
                    }
                }
            }                
        }            
    }
}
#with_place{
    background: #D3DFFF;
}
#quik{
    position: fixed;
    z-index: 100;
    bottom: 2rem;
    right: 1rem;   
    #quikBtn{
        transform: translateY(.9rem);
        z-index: 1;        
        img{
            height: 5rem;
        }
    }
    #quikMenu{
        &::before{
            content: "";
            display: block;
            background: #3D71FF;
            height: .5rem;
        }
        background: #3D71FF;
        border-radius: 0 0 3rem 3rem;
        .qIcon{
            background: #6A92FE;
            border-radius: 50%;
            box-shadow: 3px 3px 3px #00000030;
            line-height: 1;
            a{
                font-size: 1.7rem;
                color: #fff;                
            }
        }
    }
    .top_btn{
        background: #eee; 
        padding: 0.7rem; 
        border-radius: 50%; 
        margin-top: 1rem; 
        box-shadow: 3px 3px 3px #aaa;
        line-height: 1;
        a{font-size: 2rem; color: #666;}
    }

}
.ft{
    justify-content:space-between;
    transition: .5s;
    .ft_right{
        .ft_menu, .ft_info, .ft_copy {
            transition: .5s;
        }
        .ft_menu{
            .ft_menu_li{
                border-right: 1px solid #666;
                line-height: 1;
                transition: .5s;

            }
        }
        .ft-icon{
            li{
                background: #ddd;
                font-size: 1.7rem;
                line-height: 1;
                border-radius: .5rem;
                padding: .3rem;
                
                a{
                    color: #999;
                }
            }
        }
    }
    .ft_left{
        h1{
            img{
                height: 4rem;
                transition: 5s;
            }
        }
    }
}
@media (min-width:1221px){
    .hd{
        .d1{
            .d1_li{
                .d2{
                    position:absolute;
                    top:100%;
                    right: 0;
                    left: 0;
                    max-height: 0;
                    transition: .5s;
                    overflow: hidden;
                    .d2_li{
                        justify-content: center;
                    }
                }
            }
            &:hover{
                &:before{
                    content: "";
                    background-color: #fffffff0;
                    border-top: 1px solid #6A92FE;
                    position: absolute;
                    top: 100%;
                    left: 0; right: 0;
                    height: 230px;
                }
                .d1_li{ 
                    &:hover{
                        .d1_a{color: #6A92FE;}
                    }
                    .d2{
                        
                        .d2_li{
                            &:hover{
                                a{
                                    color:#6A92FE;
                                }
                            }                        
                        }                    
                        padding: 1rem 0; 
                        max-height: 230px;                                       
                    }
                }
            }   
            &:before{
                content: "";
                position: absolute;
                top: 100%;
                left: 0; right: 0;
                height: 0px;
                overflow: hidden;
                transition: .5s;
                border-top: 1px solid transparent;
            }
            
        }
    }
}
@media (max-width: 1220px) {
.xBtn{    top: 0;
    right: 1rem;
    bottom: 0;}
    .hd{
        h1{
            padding-top: 1rem;
            img{
                height: 2.1rem;
            }
        }
        
        .d1{
            background: #fff;
            width: 70vw;
            height: 100vh;
            position: fixed;
            right: 0;
            top: 0;
            flex-direction: column;
            z-index: 10000;
            display: none;
            border-left: 1px solid #eee;
            overflow: scroll;
            &:before{
                content: none;
            }
            .m-d-none{display: block;}
            .d1_li{
                padding:1rem 2rem;  
                &.showdiv{
                    > a{color: #3D71FF;}
                    .d2{
                        max-height: 250px;
                    }                    
                }
                .d2{
                    max-height: 0;
                    overflow: hidden;
                    
                    .d2_li{
                        margin: 0.5rem 2rem;
                    }
                }
                .d1_a{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }         
                .m-search{
                    background: #D3DFFF;
                    border-radius: 100px;
                    .btncls{
                        padding: 0 0 0 0.7rem;
                    }
                    input{
                        background: transparent;
                        border: none;
                        
                        &:focus{
                            box-shadow: none;
                        }
                    }
                }                
            }
        }
        .lnb{
            .searchIcon{
                display: none;
            }
        }
        .mobilemenu{
            font-size: 2rem;
            line-height: 1.1;
            display: block;
        }
    }
}
@media (max-width: 992px) {
    .ft{
        .ft_right{
            .ft_menu{
                .ft_menu_li{
                    
                }
            }
            .ft_info{
                li{
                    span{
                        display: block
                    };
                }
            }
            .ft-icon{
                li{
                    a{
                    }
                }
            }
        }
        .ft_left{
            h1{
                img{
                    height: 4rem;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .hd{
        padding: 0 0.5rem;
        .d1{
            width: 100vw;
            border-left: none;
        }
    }
    .ft{
        flex-direction: column;
        align-items: center;
        .ft_right{
            display: flex;
            align-items:center;
            flex-direction: column;
            .ft_info{
                display: flex;
                align-items:center;
                flex-direction: column;
            }
        }
    }
}
@media (max-width: 576px) {
    .ft{
        .ft_menu, .ft_info, .ft_copy {
            font-size: .9rem;
        }
        .ft_left{
            h1{
                img{
                    height: 3rem;
                }
            }
        }
    }
    
}   
