section{padding-top: 65px !important;}

.je_Mainswiper {
    background-color: #F7F8FA;
    height: 700px;}

    .mainbanner_Video,
    .main_back,
    .maincollabo {
        position: relative;
        border-radius: 350px 0 0 0;
        border: none;
        right: 0;
        bottom: 0;
        float: none;
    }

    .main_back {
        background-image: url('../../public/img/img_je/mainback_animal.png');
        border-radius: 350px 0 0 0;
        border: none;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        width: 1242px;
        height: 700px;
        box-sizing: border-box;
    }
    .maincollabo{
        background-image: url('../../public/img/img_je/main_collabo.jpg');
        border-radius: 350px 0 0 0;
        border: none;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        width: 1242px;
        height: 700px;
        box-sizing: border-box;  
    }
    .mainActing,
    .mainvideo {
        text-decoration: none;
        color: #ffff;
        background-color: #6A92FE;
        border-radius: 30px;
        padding: 1rem;
        width: 212px;
        height: 58px;
    }
    .mainvideo {
        padding: 1rem;
    }
 
    .swiper-pagination {
        position: absolute;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;}
        
        @media (max-width: 1200px) {
            #je_Mainswiper {
                height: 600px; /* 높이 조정 */
                .main_back {
                    width: 1000px; /* 너비 조정 */
                    height: 600px; /* 높이 조정 */
                }
                .mainbannerText_en {
                    font-size: 50px; /* 폰트 크기 조정 */
                }
                .mainbannerText {
                    font-size: 2.5rem; /* 폰트 크기 조정 */
                }
            }
        }
        
        @media (max-width: 992px) {
            #je_Mainswiper {
                height: 500px; /* 높이 조정 */
                .main_back {
                    width: 800px; /* 너비 조정 */
                    height: 500px; /* 높이 조정 */
                }
                .mainbannerText_en {
                    font-size: 40px; /* 폰트 크기 조정 */
                }
                .mainbannerText {
                    font-size: 2rem; /* 폰트 크기 조정 */
                }
            }
        }
        
        @media (max-width: 768px) {
            #je_Mainswiper {
                height: 400px; /* 높이 조정 */
                .main_back {
                    width: 600px; /* 너비 조정 */
                    height: 400px; /* 높이 조정 */
                }
                .mainbannerText_en {
                    font-size: 30px; /* 폰트 크기 조정 */
                }
                .mainbannerText {
                    font-size: 1.8rem; /* 폰트 크기 조정 */
                }
            }
        }
        
        @media (max-width: 576px) {
            #je_Mainswiper {
                height: 300px; /* 높이 조정 */
                .main_back {
                    width: 100%; /* 너비 조정 */
                    height: 300px; /* 높이 조정 */
                }
                .mainbannerText_en {
                    font-size: 20px; /* 폰트 크기 조정 */
                }
                .mainbannerText {
                    font-size: 1.5rem; /* 폰트 크기 조정 */
                }
            }
        }
        
        #social_program {
        a{
             text-decoration: none;
             color: black;
         }
         
         .sp_je {
             width: 700px;
         }
     
         .jeSwiper {
             border-radius: 12px;
             margin-right: 20px;
             height: 346px;
             margin-bottom: 180px;
         }
         .swiper-button-next,
         .swiper-button-prev {
             position: absolute;
             color: white;
             margin-top: 50px;
         }
     
         .swiper-button-prev {
             left: 580px;
         }
         .swiper-button-next{
             left:630px;
         }
     
         .swiper-button-next::after,
         .swiper-button-prev::after {
             font-size: 2rem;
         }
        }
//폼태그
        .form_tag {
            height: 868px;
            background-color: #d3dfff;}
        
            .form_text{
        
                text-align: center;
            }
        
        .form_momdiv{
            line-height: 200%;
            background-color: #F7F8FA;
            max-width: 1920px;
            padding:20px; 
            border-radius: 20px;
            width : 696px;
            height: 486px;
        }
        
        .form_box{
            border-radius: 9px;
            background-color: white;
            margin:12px 0px 12px 20px;
            padding:15px;
            display: flex;
            height: 50px;
            width: 294px;

        }
        .form_box_etc{
            border-radius: 9px;
            background-color: white;
            margin:12px 0px 12px 20px;
            padding:15px;
            display: flex;
            height: 50px;
            width: 600px;
        }
        
        .for_input{
             border: none;
        }
        .for_input_sele{
            border: none;
            width: 150px;
        }
        .addressinput{
            width: 600px;
        }
        .addressinput>.for_input{
            width:450px;
        }
        .bi{
            font-size: 20px;
        }
        .forLabel{
            margin-right: 20px;
            font-size: 15px;
        }
        .hourSelect_text{
            font-size:15px;
            font-weight: bold;
        }
        
        .selectable {
            cursor: pointer;
            width:109px;
            height: 30px;
            align-items: center !important;
            /* padding-bottom :1rem; */
            border-radius: 20px;
            text-align: center !important;  
            
           
        }
        
        .selectable.selected {
            background-color: lightgray;
            }
        
            .subbtn{
                border: none;
                background: #F7A4A5;
                padding: 0 1rem;
                border-radius: 50px;
                width: 300px;
                height: 60px;
                color:white;
            }
        
            .booking{
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background-color: #396EE2;
            }
            .notbooking{
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background-color: red;
            }
            .rest{
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background-color: #d0d0d0;
            }
        
            /* ./style.css */

          .serviceform {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 594px;
         
          }
        
        .allbox{
          background-color: white;
          padding: 20px;
          width: 1400px;
          height: 550px;
          border-radius: 30px;
        }
        .container{
          max-width: 1400px;
        }
        .zindex{
          width : 585px;
            height: 446px;
              z-index: 10;
        }
          
          .calendar {
            width : 585px;
            height: 446px;
            padding:20px;
          }
          .main{
            width: 540px;
          }
          
          .header {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          .year-month {
            text-align: center;
            font-size: 35px;
            margin: 0 15px;
            cursor: pointer;
          }
          
          .nav-btn {
            width: 30px;
            height: 32px;
            border: none;
            font-size: 16px;
            line-height: 34px;
            background-color: transparent;
            cursor: pointer;
          }
          
          .go-today {
            width: 75px;
          }
          
          .days {
            display: flex;
            margin: 25px 0 10px;
            
          }
          
          .day {
            width: calc(100% / 7);
            text-align: center;
          }
          
          .dates {
            display: flex;
            flex-flow: row wrap;
            height: 300px;
            border-top: 1px solid #afafaf;
          }
          
          .date {
            width: calc(100% / 7);
            padding-top: 15px;
            text-align: center;
            cursor: pointer;
          }
          
          .day:nth-child(7n + 1),
          .date:nth-child(7n + 1) {
            color: #D13E3E;
          }
          
          .day:nth-child(7n),
          .date:nth-child(7n) {
            color: #396EE2;
          }
          
          .other {
            opacity: 0.3;
          }
          
          .today {
            position: relative;
            color: #ffff;
          }
          
          .today::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            width: 30px;
            height: 30px;
            display: block;
            background-color: #6A92FE;
            border-radius: 50%;
            content: '';
          }
        
          .date .sunday, .date .saturday {
            display: inline-block;
            background-color: #d0d0d0;
            color: white;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            line-height: 30px;
          }
        
          .red-circle {
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            background-color: red;
            opacity: 50%;
            color: white;
          }
        
          .blue-circle{
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            background-color: #6A92FE;
            opacity: 50%;
            color: white;
          }

//폼태그쪽 캘린더

.serviceform {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 594px;
}

.allbox {
    background-color: white;
    padding: 20px;
    width: 1400px;
    height: 550px;
    border-radius: 30px;
}

.container {
    max-width: 1400px;
}

.zindex {
    width: 585px;
    height: 446px;
    z-index: 10;
}

.calendar {
    width: 585px;
    height: 446px;
    padding: 20px;
}

.main {
    width: 540px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.year-month {
    text-align: center;
    font-size: 35px;
    margin: 0 15px;
    cursor: pointer;
}

.nav-btn {
    width: 30px;
    height: 32px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
}

.go-today {
    width: 75px;
}

.days {
    display: flex;
    margin: 25px 0 10px;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 300px;
    border-top: 1px solid #afafaf;
}

.date {
    width: calc(100% / 7);
    padding-top: 15px;
    text-align: center;
    cursor: pointer;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #D13E3E; 
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2; 
}

.other {
    opacity: 0.3; 
}

.today {
    position: relative;
    color: #ffff;
}

.today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30px;
    height: 30px;
    display: block;
    background-color: #6A92FE;
    border-radius: 50%;
    content: '';
}


.date .sunday,
.date .saturday {
    display: inline-block;
    background-color: #d0d0d0; 
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px; 
}

.red-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: red; 
    opacity: 50%; 
    color: white;
}

.blue-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #4476ff; 
    opacity: 50%; 
    color: white;
}

//팝업창
.clickableText {
    position: relative;
    cursor: pointer; 
}

.popup {
    position: absolute;
    top: 20.5%;
    left:1%;
    width: 590px;
    height: 551px;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000000000;
    border-radius: 30px;
    display: none;
}


.popupContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 377px;
    height: 226px;
    border-radius: 30px;
}

.close {
    cursor: pointer;
    float: right;
    font-size: 20px;
}





#app_download {

    position: relative;
    background-color: #6A92FE;
    padding: 3.7rem 0;
    background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_animal.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;}
    
    #app_download:before {
        content: "";
        position: absolute;
        left: 0;
        width: 300px;
        top: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_cloud1.svg);
    }

    #app_download:after {
        content: "";
        position: absolute;
        right: 0px;
        width: 300px;
        top: 0;
        bottom: 0px;
        background-size: 400px 300px;
        background-repeat: no-repeat;
        background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_cloud1.svg);
        transform: scaleX(-1);
    }

        .app_come {
            font-weight: bold;
            font-size: 38px;
        }
        .app_come_first {
            font-size: 28px;
        }
        .app_down {
            background-color: #FFFFFF;
            border-radius: 30px;
            width: 300px;
            height: 60px;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-size: 24px;
            font-weight: bold;
        }
        @media (max-width: 576px) {
            #app_download:before,
            #app_download:after {
                display: none; 
            }
            #app_download {
                background-image: none; 
            }
            #jeAppbanner {
                flex-direction: column; 
                align-items: center; 
                text-align: center;
            }
            .app_down {
                margin-top: 1rem; 
            }
        }
    


