.main_slide_je{padding-top: 65px !important;}

.je_Mainswiper {
    background-color: #F7F8FA;
    height: 700px;}

    .mainbanner_Video,
    .main_back,
    .maincollabo {
        position: relative;
        border-radius: 350px 0 0 0;
        border: none;
        right: 0;
        bottom: 0;
        float: none;
    }

    .main_back {
        background-image: url('../../public/img/img_je/mainback_animal.png');
        border-radius: 350px 0 0 0;
        border: none;
        padding: 0;
        margin: 0;
        width: 1242px;
        height: 700px;
        box-sizing: border-box;
    }
    .maincollabo{
        background-image: url('../../public/img/img_je/main_collabo.png');
        border-radius: 350px 0 0 0;
        border: none;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        width: 1242px;
        height: 700px;
        box-sizing: border-box;  
    }
    .mainActing,
    .mainvideo {
        text-decoration: none;
        color: #ffff;
        background-color: #6A92FE;
        border-radius: 30px;
        padding: 1rem;
        width: 212px;
        height: 58px;
    }
    .mainvideo {
        padding: 1rem;
    }
 
    .swiper-pagination {
        position: absolute;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;}
        
        @media (max-width: 1200px) {
            .je_Mainswiper {
                height: 600px; 
                .main_back {
                    width: 1000px;
                    height: 600px; 
                }
                .mainbannerText_en {
                    font-size: 50px; 
                }
                .mainbannerText {
                    font-size: 2.5rem; 
                }
            }
        }

//사회공헌
.jeSwiper {
  font-family: Noto+Sans+KR;
  border-radius: 12px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.swiperbutton{
position: absolute;
width: 100px;
height: 50px;
bottom: 0;
right: 0;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
  color: white;
}

.swiperimg img{
width: 100%;
}

@media (max-width: 1200px) {
.swiperimg img{
  width: calc(100% + 1vw);
}
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 992px){
.social_program{
  
  .container{
    max-width: none;
    }
}}

@media (max-width: 768px) {
  .social_program{
    .container{
      .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    .col-6 {
      flex: 0 0 auto;
      width: 100%; 
      max-width: 100%; 
    }
  }}

}

@media (max-width: 320px) {

}
    
//폼태그
.form_tag {
  background-color: #d3dfff;
}

.form_text {
  text-align: center;
}

.form_momdiv {
  line-height: 200%;
  background-color: #F7F8FA;
  padding: 1.25rem;
  border-radius: 1.25rem;
}

.form_box {
  border-radius: 0.5625rem;
  background-color: white;
  margin: 0.75rem 0 0.75rem 0.5rem;
  padding: 0.3rem;
  display: flex;
  height: 3.125rem;
  width: 18.375rem;
}

.form_box_etc {
  border-radius: 0.5625rem;
  background-color: white;
  margin: 0.75rem 0 0.75rem 0.5rem;
  padding: 0.3rem;
  display: flex;
  height: 3.125rem;
  width: 37rem;
}

.for_input {
  border: none;
}

.for_input_sele {
  border: none;
}

.addressinput {
  width: 37rem;
}

.addressinput > .for_input {
  width: 28rem;
}

.bi {
  font-size: 1.25rem;
}

.forLabel {
  margin-right: 1.25rem;
  font-size: 0.9375rem;
}

.hourSelect_text {
  font-size: 0.9375rem;
  font-weight: bold;
}

.selectable {
  cursor: pointer;
  width: 6.8125rem;
  height: 1.875rem;
  align-items: center !important;
  border-radius: 1.875rem;
  border: none;
  text-align: center !important;
  background-color: transparent;
}

.selectable.selected {
  background-color: lightgray;
}

.selectcount > .for_input {
  display: none;
}

.subbtn {
  border: none;
  background: #F7A4A5;
  padding: 0 1rem;
  border-radius: 3.125rem;
  width: 18.75rem;
  height: 3.75rem;
  color: white;
}

.booking {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #396EE2;
}

.notbooking {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: red;
}

.rest {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #d0d0d0;
}

.serviceform {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allbox {
  background-color: white;
  padding: 1.25rem;
  border-radius: 1.875rem;
}

.zindex {
  z-index: 10;
  margin-bottom: 1rem;
}

.calendar {
  padding: 1.25rem;
}

.main {
  width: 33.75rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-month {
  text-align: center;
  font-size: 2.1875rem;
  margin: 0 0.9375rem;
  cursor: pointer;
}

.nav-btn {
  width: 1.875rem;
  height: 2rem;
  border: none;
  font-size: 1rem;
  line-height: 2.125rem;
  background-color: transparent;
  cursor: pointer;
}

.go-today {
  width: 4.6875rem;
}

.days {
  display: flex;
  margin: 1.5625rem 0 0.625rem;
}

.day {
  width: calc(100% / 7);
  text-align: center;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 18.75rem;
  border-top: 1px solid #afafaf;
}

.date {
  width: calc(100% / 7);
  padding-top: 0.9375rem;
  text-align: center;
  cursor: pointer;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other {
  opacity: 0.3;
}

.today {
  position: relative;
  color: #ffff;
}

.today::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 1.875rem;
  height: 1.875rem;
  display: block;
  background-color: #6A92FE;
  border-radius: 50%;
  content: '';
}

.date .sunday, .date .saturday {
  display: inline-block;
  background-color: #d0d0d0;
  color: white;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
}

.red-circle {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  border-radius: 50%;
  background-color: red;
  opacity: 50%;
  color: white;
}

.blue-circle {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  border-radius: 50%;
  background-color: #6A92FE;
  opacity: 50%;
  color: white;
}

@media (max-width: 1200px) {
  .form_tag>.container {
      width: 68.75rem;
  }
  .zindex {
      width: 30rem;
      margin-right: auto;
      
      .calendar, .main {
      width: auto;
      }
  }
  
  .form_momdiv {
      width: 39.375rem;  
      
      .form_box {
      margin: 0.75rem 0 0.75rem 0.8125rem;
      }
  }

}

@media (max-width: 992px) {
  .form_tag>.container {
    width: 55.75rem;
}
  .allbox {
    flex-direction: column;
      align-items: center;
      .zindex {
        margin-right: 0;
        width: auto; 
        .calendar, .main {
            width: 30rem;
        }
      }
     
      .form_box, .form_box_etc {
          margin: 0.1875rem 0 0.1875rem 0.1875rem;
          padding: 0.3125rem;
          width: 32.5rem;
      }
      .direction {
          flex-direction: column;
      }
       .selectable {
              width: 5.6rem;
          }
      .subbtn {
          height: 2.1875rem;
      }
      .addressinput > .for_input {
          width: 25rem;
      }
  }

  
}

@media (max-width: 768px) {
  .form_tag>.container {
    width: 41.75rem;
}
  .form_box, .form_box_etc {
      margin: 0.1875rem 0 0.1875rem 0.1875rem;
      padding: 0.5rem;
  }
 .zindex > .font {
      font-size: 0.9375rem;
  }
 
  .selectcount > .for_input {
      display: block;
      margin-left: 12.5rem;
  }
  .selectable {
      display: none;
  } 
  .addressinput > .for_input {
    width: 25rem;
}
}

@media (max-width: 576px) {
  .form_tag>.container {
    width:  29.75rem;
}
  .form_text {
      padding-top: 0.3125rem !important;
  }
  .form_momdiv {
      width: 30rem;
  }

  .form_box, .form_box_etc {
    margin: 0.1875rem 0 0.1875rem 0.1875rem;
    padding: 0.5rem;
    width: 22.5rem;
}
 .zindex > .font {
      font-size: 0.9375rem;
  }
  .selectcount > .for_input {
    margin-left: 2.5rem;
  }
  .addressinput > .for_input {
      width: 16rem;
  }
}

@media (max-width: 320px) {
  .form_tag>.container {
      width: 18.75rem;
  }

  .form_text {
      padding-top: 0.3125rem !important;
  }
  .zindex{
  .calendar, .main {
      width: 15rem;
  }
  .font {
      font-size: 0.625rem;
  }
}
  
  .form_momdiv {
      width: 17.5rem;
      
      .form_box, .form_box_etc {
          margin: 0.125rem 0 0.125rem 0.125rem;
          padding: 0.3125rem;
          width: 15.625rem;
      }
  }
  
  .subbtn {
      width: 13.75rem;
  }
  .direction, .form_box, .form_box_etc, .forLabel {
      font-size: 0.625rem;
  }
  .forLabel {
      margin-right: 0.3125rem;
  }
  .addressinput > .for_input {
   width: 10rem;
  }
}

//팝업
.clickableText {
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
}

.popup {
    position: absolute;
    bottom: 6%;
    left: 0;
    width: 36.875rem;
    height: 34.4375rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    border-radius: 1.875rem;
    display: none;
}

.popupContent {
    background-color: white;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    width: 23.5625rem;
    height: 14.125rem;
    border-radius: 1.875rem;
}

.close {
    cursor: pointer;
    float: right;
    font-size: 1.25rem;
}

.fs_15 {
    font-size: 1rem;
}

@media (max-width: 1200px) {
    .clickableText, .close {
        font-size: 1rem;
    }
    .popup {
        width: 31rem;
        bottom: 5.2%;
        left: -2.5%;
    }
    .popupContent {
        width: 17.3125rem;
        height: 11.25rem;
    }
    .fs_15 {
        font-size: 0.75rem;
    }
}

@media (max-width: 992px) {
    .popup {
        width: 42rem;
        bottom: 3%;
        left: 12.3%;
    }
    .popupContent {
        width: 23.5625rem;
        height: 15.625rem;
    }
    .fs_15 {
        font-size: 1rem;
        margin-top: 1.25rem;
    }
}

@media (max-width: 768px) {
    .popup {
        left: -0.5%;
    }
}

@media (max-width: 576px) {
    .popup {
        width: 32.5rem;
        bottom: 3.5%;
        left: -4.5%;
    }
}

@media (max-width: 320px) {
    .popup {
        bottom: 3.3%;
        width: 20rem;
    }
    .popupContent {
        width: 11.0625rem;
        height: 15.625rem;
    }
    .fs_15 {
        font-size: 0.5rem;
        margin-top: 1.25rem;
    }
}





    
.app_download {
            background-color: #6A92FE;
            padding: 3.7rem 0;
            position: relative;
            background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_animal.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;}
        
            
            .app_download:before {
                content: "";
                position: absolute;
                left: 0;
                width: 18.5rem;
                top: 0;
                bottom: 0;
                background-size: 25rem 18.5rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_cloud1.svg);
            }
        
            .app_download:after {
                content: "";
                position: absolute;
                right: 0px;
                width: 18.5rem;
                top: 0;
                bottom: 0px;
                background-size: 25rem 18.5rem;
                background-repeat: no-repeat;
                background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_cloud1.svg);
                transform: scaleX(-1);
            }
        
                .app_come {
                    font-weight: bold;
                    font-size: 2.4rem;
                }
                .app_come_first {
                    font-size: 1.8rem;
                }
                .app_down {
                    background-color: #FFFFFF;
                    border-radius: 1.9rem;
                    width: 18.5rem;
                    height: 3.6rem;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    font-size: 1.5rem;
                    font-weight: bold;
                }
               .container{
                        z-index: 1;
                    }
                @media (max-width: 1200px) {
                   
                    .jeAppbanner {
                        justify-content: center;
                        text-align: center;
                        width: 43.8rem;
                    }
                    .app_download{
                        background-image: none;
        
                    }
                  }
                  @media (max-width :992px) {
                    .app_download:before, #app_download:after {
                        width: 15rem;
                        background-size: 19rem 15rem;
                    }
                    .app_come {
                        font-size: 2rem;
                    }
                    .app_come_first {
                        font-size: 1.4rem;
                    }
                }
                
                  @media (max-width: 768px) {
                   
                    .jeAppbanner {
                        justify-content: center;
                        flex-direction: column;
                    }    
                    .app_download{
                        background-image: none;                
                        height: 14.4rem;
                    }
                    .app_download:before, .app_download:after {
                        bottom: 0;
                        background-size: 22rem 18rem;
                    }
                    .app_down{
                        margin-top: 0.5rem;
                        width: 16.9rem;
                        height: 3.1rem;
                        font-size: 1.3rem;
                    }
                    .app_come {
                        font-size: 2.1rem;
                    }
                  }
        
                  @media (max-width: 576px) {
                          
                    .app_download:before,
                    .app_download:after {
                        display: none; 
                    }
                    .jeAppbanner {
                        align-items: center; 
                    }
                    .app_down {
                        margin-top: 1rem;
                        margin-left: 0.5rem; 
                    }
                }
        
                @media (max-width: 320px) {
                    .app_come {
                        font-size: 1.75rem;
                    }
                    .app_come_first {
                        font-size: 1.125rem;
                    }
                }