#main_slide_je{padding-top: 65px !important;}

.je_Mainswiper {
  background-color: #F7F8FA;}

  .mainbanner_Video,
  .main_back,
  .maincollabo {
      position: relative;
      border: none;
      right: 0;
      bottom: 0;
      float: none;
  }

  .main_back{
      background-image: url('../../public/img/img_je/mainback_animal.png');
      border: none;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 0;
      margin: 0;
      margin-top: 18px;
      width: 70%;
      height: 38rem;
      box-sizing: border-box;
      background-position-x: calc(70% - 2px);
  }
  

  .maincollabo{
      background-image: url('../../public/img/img_je/main_collabo.png');
      border: none;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 0;
      margin: 0;
      margin-top: 18px;
      width: 55%;
      height: 38rem;
      box-sizing: border-box;  
      background-position-x: calc(55% - 2px);
  }
  
  .mainActing{
      text-decoration: none;
      color: #ffff;
      background-color: #6A92FE;
      border-radius: 30px;
      padding: 1rem;
  }

  .mainbanner_Video{
      border-radius: 30px;
      height: 38rem;
      width: 50vw;
      margin-top: 18px;
  }
  
  
  .swiper-pagination {
      position: absolute;
      text-align: center;
      transition: .3s opacity;
      transform: translate3d(0, 0, 0);
      z-index: 10;}
      
.mswipercls{

}
      @media (max-width: 1200px) {
           .main_back{
              background-image: url('../../public/img/img_je/mainback1200.png');
              height: 26rem;
          } 
          .maincollabo{
              background-image: url('../../public/img/img_je/main_collabo1200.png');
              height: 26rem;
              margin-top: 0;
          }

          .mainbanner_Video{
              width: 63vw;
              height: 26rem;
              margin-top: 20px;
          }
          
      }

      @media (max-width: 992px) {

           .main_back{
              background-image: url('../../public/img/img_je/mainback992.png');
              height: 25rem
          } 
          .maincollabo{
              background-image: url('../../public/img/img_je/main_collabo992.png');
              height: 25rem;
          }

          .collabologo{
              width: 16rem;
          }

          .mainbanner_Video{
              width: 34rem;
              height: 25rem;
          }
          .mainActing{
              padding: 0.7rem;
              font-size: 0.9rem;
          }
      }

      @media (max-width: 768px) {

          .main_back{
             background-image: url('../../public/img/img_je/mainback992.png');
             height: 19.25rem;
             margin-top: 30px;
         } 
         .maincollabo{
             background-image: url('../../public/img/img_je/main_collabo768.png');
             height: 21.25rem;
             margin-top: 20px;
         }
         .collabologo{
             width: 12rem;
         }

         .mainbanner_Video{
             width: 84vw;
             height: 21.25rem;
             margin-top: 10px;
             margin-bottom: 10px;
         }
         .swipsubtext{
          display: none;
         }
         .swiperdiv{
          flex-direction: column-reverse;
          text-align: center;
         }
         .mainActing{
          padding: 0.6rem;
          }
          .hide-on-mobile {
              display: none;
          }
          .swiper-pagination{
              display: none;
          }
      }

      @media (max-width: 568px) {
          .mainActing{
              display: none;
          }
          .main_back{
              background-image: url('../../public/img/img_je/mainback320.png');
              height: 13rem;
          } 
          .maincollabo{
              background-image: url('../../public/img/img_je/main_collabo320.png');
              height: 13rem;
          }
          .collabologo{
              width: 11rem;
          }

          .mainbanner_Video{
              height: 16rem;
              }
          .mswipercls{
            margin-top: 1rem;
          }
         }

     @media (max-width: 320px) {
      .main_back{
          height: 9rem;
      } 
      .maincollabo{
          height: 9rem;
          margin-top: 20px;
      }

      .mainbanner_Video{
          width: 84vw;
          height: 9rem;
          margin-top: 20px;
          margin-bottom: 10px;
      }
     }

//사회공헌
.jeSwiper {
  border-radius: 12px;
  margin-bottom: 20px;
  height: 37.5vh;
}

.swiperbutton{
position: absolute;
width: 100px;
height: 50px;
bottom: 0;
right: 0;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
  color: white;
}
.swiperimg {
height: 100%;
overflow: hidden;
}
.swiperimg img{
width: calc(100% + 10vw);
}

@media (max-width: 1200px) {
  .swiperimg img{
   width: calc(100% + 57vw);
   transform: translateX(-20%) translateY(-10%);
   }
     .swiperbutton{
       display: none;
     }
 }
 @media (max-width: 992px){
  .container{
   max-width: none;
  }
 }
 
 @media (max-width: 768px) {
   .swiperimg img{
     transform: translateX(-20%) translateY(-20%);
     }
   .jeSwiper {
     height: 32.5vh;
     width: 79vw;
   }
 }

 @media (max-width: 567px) {

   .jeSwiper {
     height: 25.5vh;
   }
 }

 @media (max-width: 320px) {
   .jeSwiper {
     height: 16.5vh;
 }

 }
    
//폼태그
.form_tag {
  background-color: #d3dfff;
}

.form_text {
  text-align: center;
}

.form_momdiv {
  line-height: 200%;
  background-color: #F7F8FA;
  padding: 1.25rem;
  border-radius: 1.25rem;
}

.form_box {
  border-radius: 0.5625rem;
  background-color: white;
  padding: 0.3rem;
  display: flex;
  height: 3.125rem;
  flex: 1 1 45% !important;

}

.form_box_etc {
  border-radius: 0.5625rem;
  background-color: white;
  padding: 0.3rem;
  display: flex;
  height: 3.125rem;
  width: 100%;
}

.direction{
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 0;
 padding-left: 0;
  gap: 1rem;
}

.for_input {
  border: none;
  font-size: 0.875rem;
}

.for_input_sele {
  border: none;
  font-size: 0.875rem;
  width: 50%;
}

.for_input_info {
  border: none;
  font-size: 0.875rem;
  width: 50%;
}


.addressinput > .for_input {
  width: 100%;
}
.addressinput{
  border-radius: 0.5625rem;
  background-color: white;
  padding: 0.3rem;
  display: flex;
  height: 3.125rem;
  width: 100%;
  margin-top: 0.75rem;
}


.bi {
  font-size: 1.25rem;
}

.forLabel {
  font-size: 0.875rem;
  white-space: nowrap;
}

.hourSelect_text {
  font-size: 0.5rem;
  font-weight: bold;
}

.selectable {
  cursor: pointer;
  height: 1.875rem;
  align-items: center !important;
  border-radius: 1.875rem;
  border: none;
  text-align: center !important;
  background-color: transparent;
}

.Selected {
  background-color: lightgray;
}

.selectcount > .for_input {
  display: none;
}

.subbtn {
  border: none;
  background: #F7A4A5;
  padding: 0 1rem;
  border-radius: 3.125rem;
  width: 75%;
  height: 3.5rem;
  color: white;
}

.booking {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #396EE2;
}

.notbooking {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: red;
}

.rest {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #d0d0d0;
}

.serviceform {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allbox {
  background-color: white;
  padding: 1.25rem;
  border-radius: 1.875rem;
}

.zindex {
  z-index: 10;
  padding: 1.25rem;
}

.calendar{
  max-width: 80%;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-month {
  text-align: center;
  font-size: 2.1875rem;
  margin: 0 0.9375rem;
  cursor: pointer;
}

.nav-btn {
  width: 1.875rem;
  height: 2rem;
  border: none;
  font-size: 1rem;
  line-height: 2.125rem;
  background-color: transparent;
  cursor: pointer;
}

.go-today {
  width: 4.6875rem;
}

.days {
  display: flex;
  margin: 1.5625rem 0 0.625rem;
}

.day {
  width: calc(100% / 7);
  text-align: center;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 18.75rem;
  border-top: 1px solid #afafaf;
}

.date {
  width: calc(100% / 7);
  padding-top: 0.9375rem;
  text-align: center;
  cursor: pointer;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other {
  opacity: 0.3;
}

.today {
  position: relative;
  color: #ffff;
}

.today::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 1.875rem;
  height: 1.875rem;
  display: block;
  background-color: #6A92FE;
  border-radius: 50%;
  content: '';
}

.date .sunday, .date .saturday {
  display: inline-block;
  background-color: #d0d0d0;
  color: white;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
}

.red-circle {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  border-radius: 50%;
  background-color: red;
  opacity: 50%;
  color: white;
}

.blue-circle {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  border-radius: 50%;
  background-color: #6A92FE;
  opacity: 50%;
  color: white;
}

@media (max-width: 992px) {
  .allbox {
    flex-direction: column;
      align-items: center;
  }
  .direction {
    flex-direction: column;
  }
  .selectcount > .for_input {
    display: block;
  }
  .selectable {
    display: none;
  } 
  .form_box, .form_box_etc{
    justify-content: space-between;
  }
   .addressinput > .for_input {
    width: 28rem;
  }
}

@media (max-width: 768px) {
  .zindex{
   padding: 0.8rem;
  }
  .allbox {
    padding: 0.7rem;
  }
  .addressinput > .for_input {
    width: 24rem;
  }
}

@media (max-width: 576px){
  .for_input,.forLabel, .for_input_sele  {
    font-size: 1rem;
  }
  .addressinput > .for_input {
    width: 12rem;
  }
  .font > p{
    font-size: 0.9rem;
  }
}

@media (max-width: 320px){
  .for_input, .forLabel, .for_input_sele,.for_input_info {
    font-size: 0.8rem;
  }
  .addressinput > .for_input {
    width: 10rem;
  }
  .font > p{
    font-size: 0.8rem;
  }
}

//팝업
.clickableText {
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
}

.popup {
  position: absolute;
  bottom: 6.3%;
  left: 0;
  width: 50%;
  height: 74%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  border-radius: 1.875rem;
  display: none;
}

.popupContent {
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  width: 70%;
  height: 35%;
  border-radius: 1.875rem;
}

.close {
  cursor: pointer;
  float: right;
  font-size: 1.25rem;
}

.fs_15 {
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .clickableText, .close {
        font-size: 1rem;
  }

  .fs_15 {
        font-size: 0.75rem;
}
}

@media (max-width: 992px) {
  .popup {
      width: 100%;
      height: 48%;
      bottom:3%;
  }
  .fs_15 {
      font-size: 0.75rem;
  }
  .bi{
      font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .fs_15 {
      font-size: 0.4rem;
  }
  .bi{
      font-size: 0.5rem;
  }
}




//앱다운로드    
.app_download {
  background-color: #6A92FE;
  padding: 3.7rem 0;
  position: relative;
  background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_animal.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;}

  
  .app_download:before {
      content: "";
      position: absolute;
      left: 0;
      width: 30%;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_cloud1.svg);
  }

  .app_download:after {
      content: "";
      position: absolute;
      right: 0px;
      width: 30%;
      top: 9%;
      bottom: 0px;
      background-size: 25rem 18.5rem;
      background-repeat: no-repeat;
      background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_cloud1.svg);
      transform: scaleX(-1);
  }

      .app_come {
          font-weight: bold;
          font-size: 2.4rem;
      }
      .app_come_first {
          font-size: 1.8rem;
      }
      .app_down {
          background-color: #FFFFFF;
          border-radius: 1.9rem;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: bold;
          padding: 0.8rem 3rem;
      }
     .container{
              z-index: 1;
          }
      @media (min-width: 1201px){
        .jeAppbanner {
          justify-content: space-between;
      }
      }
      @media (max-width: 1200px) {
         
          .jeAppbanner {
              justify-content: space-around;
              text-align: center;
          }
          .app_download{
              background-image: none;

          }
        }
        @media (max-width :992px) {
          .app_download:before, #app_download:after {
              width: 15rem;
              background-size: 19rem 15rem;
          }
          .app_come {
              font-size: 2rem;
          }
          .app_come_first {
              font-size: 1.4rem;
          }
      }
      
        @media (max-width: 768px) {
         
          .jeAppbanner {
              justify-content: center;
              flex-direction: column;
          }    
          .app_download{
              background-image: none;                
              height: 14.4rem;
          }
          .app_download:before, .app_download:after {
              bottom: 0;
              background-size: 22rem 18rem;
          }
          .app_down{
              margin-top: 0.5rem;
              width: 16.9rem;
              height: 3.1rem;
              font-size: 1.3rem;
          }
          .app_come {
              font-size: 2.1rem;
          }
        }

        @media (max-width: 576px) {
                
          .app_download:before,
          .app_download:after {
              display: none; 
          }
          .jeAppbanner {
              align-items: center; 
          }
          .app_down {
              margin-top: 1rem;
              margin-left: 0.5rem; 
          }
      }

      @media (max-width: 320px) {
          .app_come {
              font-size: 1.75rem;
          }
          .app_come_first {
              font-size: 1.125rem;
          }
      }