$maincolor:#6a92fe;
$hovercolor : #2e313b;
$quickcolor: #3D71FF;
$bgcolor: #D3DFFF;
$lightgray:#f7f8fa;

#main_slide_sh{
   padding-top: 65px;
    .swiper {
            width: 100%;
            height: 100%;
        .swiper-slide {
                    text-align: center;
                    font-size: 3rem;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                        .main_sh{
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            filter: brightness(0.5);
                        }
                        .slide_txt{
                                    line-height: 1;
                                    font-size: 4rem;
                                    text-align: start;
                                   }                       
                        .slide_txt_sm{
                            line-height: 1;
                            font-size: 1.3rem;
                            text-align: start;
                        }
                    }
    .main3_sh{    
        max-width: 130px; 
        height: auto;
    }
    }
}
#main_service {
    li:hover{ 
        span {
            background-color: $hovercolor;
        }
    }
   
@media (max-width :1400px){
    .ms_div {
         font-size: 1.2rem;
         padding: 1.8rem;
     }
 }
 
 @media (max-width :992px) {
    .ms_div {
             font-size: 1rem;
             padding: 1.8rem;
     }
 }
 
 @media (max-width: 768px) {
     .ms_div {
         font-size: 0.85rem;
         padding: 1.5rem;
     }
 }
 
 @media (max-width: 576px) {
     .ms_div {
         font-size: 0.7rem;
         padding: 1rem;
     }
 }
}
#map{
    @media (max-width:992px) {
        width: 100%;
        height: 400px;
    }
    width: 450px;
    height: 380px;  
    flex-shrink: 0;
}

#live_reivew{
   
    .rv2{
        flex-shrink: 0;
        max-width: calc(100vw - 450px);

    }

    .review{
        width: 355px;
        height: 280px;
        border: 1px solid #000;
        margin: 0 10px;
        padding: 2rem;

        .img{
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .morebtn{
            display: block;
            color: #fff;
            background-color: #6A92FE; 
            text-align: center;
            max-width: 330px;
            height: 30px;
            border-radius: 20px;
            margin-top: 1.5rem;
            line-height: 1.8;
            margin: 0 auto;

            &:hover{
                background-color: $hovercolor;
            }
        }
        .review_txt{
            font-size: 14px;
            overflow: hidden; 
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .nm{
            font-size: 14px;
            line-height: 0;
        }
        .star{
            display: block;
            width: 70px;
        }
    }   
  
   
    @media (max-width:1440px) {
        .review{
            width: 300px;
        }
    }
    @media (max-width:1199px) {
        .review{
            width: 270px;
        }
    }
    @media (max-width:991px) {
        .rv2{
            max-width: unset;
            margin-top: 20px;
        }
        .review{
           width:calc(33.333vw - 27px); 
        }  
         .swiper-wrapper{
           margin-left: -10px;
        }
            
    }
    @media (max-width:767px) {
        
    .m_review{
        width: 100%;
        height: 250px;
        border: 1px solid #000;
        margin: 10px 0;
        padding: 1.5rem;
        
        .img{
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        
        .review_txt{
            font-size: 14px;
            overflow: hidden; 
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .nm{
            font-size: 14px;
            line-height: 0;
        }
        .star{
            display: block;
            width: 70px;
        }
        .more_txt{
            font-size: 13px;
            color: #666666;
        }
        } 
    }
    .morebtn{
        display: block;
        color: #fff;
        background-color: #6A92FE; 
        text-align: center;
        max-width: 220px;
        height: 30px;
        border-radius: 20px;
        line-height: 2;
        margin: 0 auto;

        &:hover{
            background-color: $hovercolor;
        }
    }
    @media (max-width:375px) {
  
    }
   
}