$maincolor:#6a92fe;
$hovercolor : #2e313b;
$quickcolor: #3D71FF;
$bgcolor: #D3DFFF;
$lightgray:#f7f8fa;

#main_slide_sh{
   padding-top: 65px;
    .swiper {
            width: 100%;
            height: 100%;
        .swiper-slide {
                    text-align: center;
                    font-size: 3rem;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                        .main_sh{
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            filter: brightness(0.5);
                        }
                        .slide_txt{
                                    line-height: 1;
                                    font-size: 4rem;
                                    text-align: start;
                                   }                       
                        .slide_txt_sm{
                            line-height: 1;
                            font-size: 1.3rem;
                            text-align: start;
                        }
                    }
    .main3_sh{    
        max-width: 130px; 
        height: auto;
    }
    }
}
#main_service {
    li:hover{ 
        span {
            background-color: $hovercolor;
        }
    }
   
@media (max-width :1400px){
    .ms_div {
         font-size: 1.2rem;
         padding: 1.8rem;
     }
 }
 
 @media (max-width :992px) {
    .ms_div {
             font-size: 1rem;
             padding: 1.8rem;
     }
 }
 
 @media (max-width: 768px) {
     .ms_div {
         font-size: 0.85rem;
         padding: 1.5rem;
     }
 }
 
 @media (max-width: 576px) {
     .ms_div {
         font-size: 0.7rem;
         padding: 1rem;
     }
 }
}
#map{
    width: calc( 50% - 200px );
    height: 380px;
    margin-left: 300px;
}
#live_reivew{
    .rv2{
        width: calc( 50% + 200px );
        a{
            p{
                font-weight: 600;
                padding-right: 19rem;
            }
        }
    }
    .review{

        height: 280px;
        border: 1px solid #000;
        margin: 0 10px;
        padding: 2rem;

        .img{
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .morebtn{
            display: block;
            color: #fff;
            background-color: #6A92FE; 
            text-align: center;
            max-width: 330px;
            height: 30px;
            border-radius: 20px;
            margin-top: 1.5rem;
            line-height: 1.8;
            &:hover{
                background-color: $hovercolor;
            }
        }
        .review_txt{
            font-size: 14px;
            overflow: hidden; 
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .nm{
            font-size: 14px;
            line-height: 0;
        }
        .star{
            display: block;
            width: 70px;
        }
    }
}